<section class="container py-5  text-center">
<h1 class="fw-bold mb-3" >
    Powerful Features to Boost Your Networking
</h1>
  <p class="text-muted fw-bold">
  Everything you need to create the perfect digital business card.
  </p>
  </section>


  <section class="container pb-3">
  <div class="row g-4">

    <div class="col-md-6 col-lg-3 d-flex">
      <div class="feature-card text-center p-4 w-100">
        <i class="bi bi-card-text fs-1"></i>
        <h5 class="mt-3 fw-semibold">Customizable Designs</h5>
        <p class="text-muted medi">
          Tailor your card to match your brand identity.
        </p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex">
      <div class="feature-card text-center p-4 w-100">
        <i class="bi bi-bar-chart fs-1"></i>
        <h5 class="mt-3 fw-semibold">Analytics & Insights</h5>
        <p class="text-muted small">
          Track views and interactions easily.
        </p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex">
      <div class="feature-card text-center p-4 w-100">
        <i class="bi bi-shield-check fs-1"></i>
        <h5 class="mt-3 fw-semibold">Secure & Reliable</h5>
        <p class="text-muted small">
          Built with strong privacy protection.
        </p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex">
      <div class="feature-card text-center p-4 w-100">
        <i class="bi bi-share fs-1"></i>
        <h5 class="mt-3 fw-semibold">Contactless Sharing</h5>
        <p class="text-muted small">
          Share instantly via QR or link.
        </p>
      </div>
    </div>
  </div>

  </section>


  <section class="container py-4 text-center">
    <h3 class="fw-bold mb-4">
      Integration & Tools
    </h3>

  <div class="row justify-content-center g-md-4">

    <div class="col-md-3">
      <div class="integration-box p-3">
        <i class="bi bi-box-arrow-in-down fs-3"></i>
        <span class="ms-2 fw-semibold">CRM Integration</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="integration-box p-3">
        <i class="bi bi-lock fs-3"></i>
        <span class="ms-2 fw-semibold">Social Media Links</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="integration-box p-3">
        <i class="bi bi-file-earmark-text fs-3"></i>
        <span class="ms-2 fw-semibold">Lead Capture Forms</span>
      </div>
    </div>

  </div>

<div class="row g-lg-4 mt-3">

  <!-- Image 1 -->
  <div class="col-lg-6 col-md-6">
    <div class="ratio ratio-21x9">
      <img src="assets/images/cards/card2.jpg"
           class="w-100 h-100 object-fit-cover rounded shadow-sm">
    </div>
  </div>

  <!-- Image 2 -->
  <div class="col-lg-6 col-md-6">
    <div class="ratio ratio-21x9">
      <img src="assets/images/cards/card2.jpg"
           class="w-100 h-100 object-fit-cover rounded shadow-sm">
    </div>
  </div>

</div>

  </section>
