<section class="container text-center py-4">

  <h1 class="fw-bold mb-2">
    Choose Your Perfect Template
  </h1>

  <p class="text-muted">
    Browse our collection of professional designs.
  </p>

</section>


<section class="container pb-4">

  <div class="row g-4">

    <div class="col-md-4">
      <div class="template-card">
        <div class="template-head">
          <h5 class="fw-semibold">Modern</h5>
        </div>
        <img src="assets/images/templates/modern.png" class="template-img"/>
      </div>
    </div>

    <div class="col-md-4">
      <div class="template-card">
        <div class="template-head">
          <h5 class="fw-semibold">Corporate</h5>
        </div>
        <img src="assets/images/templates/corporate.jpeg" class="template-img"/>
      </div>
    </div>

    <div class="col-md-4">
      <div class="template-card">
        <div class="template-head">
          <h5 class="fw-semibold">Creative</h5>
        </div>
        <img src="assets/images/templates/creatiive.jpeg" class="template-img"/>
      </div>
    </div>

  </div>

</section>


<section class="container pb-4 mt-3">

  <div class="row g-4">

    <div class="col-md-6">
      <div class="template-card">
        <div class="template-head">
          <h5 class="fw-semibold">Minimalist</h5>
        </div>
        <img src="assets/images/templates/Minimalist.jpg" class="template-img-large"/>
      </div>
    </div>

    <div class="col-md-6">
      <div class="template-card">
        <div class="template-head">
          <h5 class="fw-semibold">Templates</h5>
        </div>
        <img src="assets/images/templates/templates.jpg" class="template-img-large"/>
      </div>
    </div>

  </div>

</section>



<section class="container py-4">

  <div class="row g-4 justify-content-center">

    <div class="col-md-6 col-lg-5">
      <img src="assets/images/templates/card1.jpg" class="b-card"/>
    </div>

    <div class="col-md-6 col-lg-5">
      <img src="assets/images/templates/card2.jpg" class="b-card"/>
    </div>

  </div>

</section>



<section class="container text-center py-4">

  <button class="btn btn-primary btn-lg px-5 fw-semibold">
    Customize Your Template →
  </button>

</section>
